.kid{
    box-shadow:0 0 10px rgb(168, 165, 165);
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.kid a {
    text-decoration: none;
    color: red;
}
.kid h4{
    color: rgb(190, 30, 2);
}